/* make canvas unselectable and have a border */
canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #000000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
  cursor: crosshair;
}   

body {
  margin: 0px;
}

#controls {
  position: absolute;
  top: 10px;
  left: 10px;
}

#controls ul {
  margin: 0px;
  padding: 0px;
  margin-left: 0px;
}

#controls li {
  list-style-type: none;
  margin-left: 0px;
}

#controls li button {
	width: 60px;
	margin-left: 10px;
}

#whiteboard_wrapper {
  position: absolute;
  top: 10px;
  left: 150px;
}
#footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#history_gallery {
  position: absolute;
  top: 650px;
  left: 150px;
  overflow-y: hidden;
  overflow-x: auto;
  height: 60px;
  width: 800px;
  white-space: nowrap;
}
#history_gallery div {
  height: 40px;
  width: 60px;
  background-color: gray;
  display: inline-block;
  margin-right: 20px;
}
