/* make canvas unselectable and have a border */
canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #000000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
  cursor: crosshair;
}   

body {
  margin: 0;
}

#controls {
  position: absolute;
  top: 10;
  left: 10;
}

#controls ul {
  margin: 0;
  padding: 0;
  margin-left: 0;
}

#controls li {
  list-style-type: none;
  margin: 0;
}

#whiteboard_wrapper {
  position: absolute;
  top: 10;
  left: 150;
}
#footer {
  position: absolute;
  bottom: 10;
  left: 10;
}

#history_gallery_container {
  position: absolute;
  top: 650;
  left: 60;
}

#history_gallery li {
  height: 60px;
  width: 60px;
  background-color: #eee;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 20pxc
}
